:root {
  --yellow: #eef13f;
  --orange: #fe6638;
  --green: #80b238;
  --blue: #80c1d6;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--blue);
  color: #fff;
  font-family: Atma, sans-serif;
  margin: 0;
  font-size: 1.5rem;
}

h1,
h2 {
  margin-top: 0;
}

h1,
h2,
h1 + p,
button {
  font-family: Bangers, sans-serif;
  letter-spacing: 2px;
}

/* ... Your turn! ... */

@media (min-width: 640px) {
}
a {
  text-decoration: none;
  color: white;
}

ul {
  margin: 0;
  background-color: #80b238;
  display:flex;
  justify-content: space-evenly;
  text-transform: uppercase;
}

li > a {
  text-decoration: none;
  color: white
}

ul li { 
list-style-type: none;
}

header {
  background: url(../img/blue-splash.png) ;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100vh;

  display: flex; 
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color:#fe6638;
  text-shadow: 1px 1px 1px white;
}

.grid {
  display: flex;
  justify-content: center;
}

#obstacles {
  background-color: #fe6638;
  padding: 50px 0px 100px;
  text-align: center;

}

#obstacles article {
  margin: 0 10px;
  padding: 8px 30px;
  background-color: #80b238;
  border-radius: 15px;
}

#prizes {
  background-color: #80b238;
  text-align: center;
  padding: 50px 0px 100px;
}

#prizes article {
  border: dashed yellow 2px; 
  margin: 0 10px;
  padding: 8px 30px;
  width: 269px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#prizes article img {
  height: auto;
  width: 100%;
  object-fit: contain;
}

#obstacles a {
  color: white;
}

section  h2 {
  text-align: center;
}

#apply .wrap { 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

form * {
  display: block;
}